

header {
  background-image: url("https://fjjariego.files.wordpress.com/2014/01/lincoln-movie-wallpaper-2012.jpg");
  height: 100vh;
  background-size: cover;
}


.subtitle{
    text-transform: uppercase;
    font-size: 13px;
    color: #2c2c2c;
    font-weight: 400;
    letter-spacing: 6px;
    position: relative;
    padding-top: 10px;
}


