@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
// fonts
$base-font: 'Lato', sans-serif;

$primary-color: #3BBCB0;
$secondary-color: #5D1C4E;


html, body {
  height: 100%;
}

h1, .h1,
h2, .h2,
h6, .h6 {
  font-weight: 700;
  color: $primary-color;
  font-family: $base-font }

p {
  font-family: $base-font;
  font-weight: 400;
  color: $secondary-color;
}

a {
  font-family: $base-font;
  font-weight: 400;
  color: $secondary-color;
}

.btn {
  line-height: 2rem;
    border: 2px solid $border-color;
    padding: 0px 40px;
    border-radius: 50px;
    text-transform: capitalize;
    transition: all .7s ease;
    margin-right: 5px;
}

.btn-hero{
  background: $primary-color;
  color: $white;
  border-color: $primary-color;
  &:hover{
    background: $secondary-color;
      border-color:$secondary-color;
      color:$white;
  }
}
