#show {
  background: url("https://fjjariego.files.wordpress.com/2014/01/lincoln-movie-wallpaper-2012.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  opacity: 0.7;

  .landing-text {
       display: table-cell;
    text-align: center;
    vertical-align: middle;
    .h1 {
      font-size: 100%;
      letter-spacing: 8px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .subtitle{
      text-transform: uppercase;
      font-size: 100%;
      color: #2c2c2c;
      font-weight: 400;
      letter-spacing: 6px;
      position: relative;
      padding-top: 10px;
    }

    a {
      text-decoration: none;
      margin-top: 10px;
      font-family: $base-font;
      font-weight: 500;
      color: $secondary-color;
      &:hover {
        color: $primary-color;
      }
    }

    .button_to {
      margin-bottom: 20px;
      font-family: $base-font !important;
    }
  }
}

#superior-link {
  text-decoration: none;
  &:hover {
    color: #FFFFFF;
  }
}

#section-events {
  background-color: $secondary-color;
  .subtitle {
    color: #ffffff;
  }

  .content {
    color: #ffffff;
    padding-top: 30px;

    p {
      font-size: 100%;
      color: #ffffff;
    }
  }
}
