/*-------------------------------
Variables
-------------------------------*/

// import from google fonts

// raleway
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
// lato
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


// fonts
$base-font: 'Lato', sans-serif;
$heading-font: 'Raleway', sans-serif;

$primary-color: #3BBCB0;
$secondary-color: #5D1C4E;
