<!-- introduction start! -->
<div id="show">
  <div class="landing-text">
    <h6 class="subtitle"><%= @politician.house_years %>years in service</h6>
    <h2 class="h1"> <%= @politician.name %></h2>
  </div>
</div>


